<div class="container show-page">
  <button class="btn btn-primary" id="form-button" type="button" (click)="formPopUp()" >Add product</button>
  <form class="form-display" id="product-form" #productForm="ngForm"
        (ngSubmit)="createProduct(productForm)" novalidate>
    <div class="input-form">
      <div class="row">
               <div class="col-lg-1 col-sm-12">
                 <label class="control-label" for="name"><span class="required">*</span>Name:</label>
               </div>
               <div class="col-lg-11 col-sm-12">
                 <input type="text" class="form-control" id="name" placeholder="Type a name"
                        required name="name" [(ngModel)]="newProduct.name" #name="ngModel">
               </div>
             </div>
      <div class="row">
               <div class="col-lg-1 col-sm-12">
                 <label class="control-label" for="price"><span class="required">*</span>Price:</label>
               </div>
               <div class="col-lg-11 col-sm-12">
                 <input  type="text" class="form-control" id="price" placeholder="Type a price"
                         required name="price" [(ngModel)]="newProduct.price" #price="ngModel">
               </div>
             </div>
      <div class="row">
               <div class="col-lg-1 col-sm-12"></div>
               <div class="col-lg-11 col-sm-12">
                 <button class="btn btn-primary" type="submit" [disabled]="name.invalid
                || price.invalid">Submit</button>
                 <button class="btn btn-default" type="reset" (click)="formPopUp()">Dismiss</button>
               </div>
             </div>
    </div>
  </form>

  <ul>
    <li class="row li-title">
      <div class="col-lg-4 col-xs-12 list-content">Name</div>
      <div class="col-lg-3 col-xs-12 list-content">Price</div>
      <div class="col-lg-2 col-xs-12 list-content">Updated</div>
      <div class="col-lg-2 col-xs-12 list-content">Created</div>
    </li>
    <li *ngFor="let product of products" routerLink="/products/{{product.id}}">
        <div class="row">
          <div class="col-lg-4 col-xs-12 list-content pointer">{{product.name}}</div>
          <div class="col-lg-3 col-xs-12 list-content pointer">{{product.price}}</div>
          <div class="col-lg-2 col-xs-12 list-content pointer">{{product.updatedAt | date:'HH:mm  dd.MM.y'}}</div>
          <div class="col-lg-2 col-xs-12 list-content pointer">{{product.createdAt | date:'HH:mm  dd.MM.y'}}</div>
        </div>
    </li>
  </ul>
</div>
