<div class="container">
  <button class="btn" (click)="goBack()">Go back</button>
  <div *ngIf="!editing">
    <div class="row">
      <div class="col-lg-2 col-sm-12">
        <label class="control-label" for="name">Name:</label>
      </div>
      <div class="col-lg-10 col-sm-12" id="name">
        {{customer.name}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-12">
        <label class="control-label" for="phone">Phone Number:</label>
      </div>
      <div class="col-lg-10 col-sm-12" id="phone">
        {{customer.phone}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-12">
        <label class="control-label" for="address">Address:</label>
      </div>
      <div class="col-lg-10 col-sm-12" id="address">
        {{customer.address}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-12">
        <label class="control-label" for="updated-at">Updated at:</label>
      </div>
      <div class="col-lg-10 col-sm-12" id="updated-at">
        {{customer.updatedAt | date:'HH:mm  dd.MM.y'}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-12">
        <label class="control-label" for="created-at">Created at:</label>
      </div>
      <div class="col-lg-10 col-sm-12" id="created-at">
        {{customer.createdAt | date:'HH:mm  dd.MM.y'}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-12"></div>
      <div class="col-lg-10 col-sm-12">
        <button class="btn btn-primary" (click)="editCustomer(customer)">Edit</button>
        <button class="btn btn-danger" type="reset" (click)="deleteCustomer(customer.id)">Delete</button>
      </div>
    </div>
  </div>

  <div *ngIf="editing">
    <div class="input-form">
      <div class="row">
        <div class="col-lg-2 col-sm-12">
          <label class="control-label" for="edit-name"><span class="required">*</span>Name:</label>
        </div>
        <div class="col-lg-10 col-sm-12" id="edit-name">
          <input type="text" class="form-control"
                 [(ngModel)]="editingCustomer.name" required>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-sm-12">
          <label class="control-label" for="edit-phone"><span class="required">*</span>Phone Number:</label>
        </div>
        <div class="col-lg-10 col-sm-12">
          <input type="text" class="form-control" id="edit-phone"
                 [(ngModel)]="editingCustomer.phone" required>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-sm-12">
          <label class="control-label" for="edit-address"><span class="required">*</span>Address:</label>
        </div>
        <div class="col-lg-10 col-sm-12">
          <input type="text" class="form-control" id="edit-address"
                 [(ngModel)]="editingCustomer.address" required>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-sm-12"></div>
        <div class="col-lg-10 col-sm-12">
          <button class="btn btn-primary" (click)="updateCustomer(editingCustomer)"
           [disabled]="!editingCustomer.name.length || !editingCustomer.phone.length
           || !editingCustomer.address.length">Submit</button>
          <button class="btn btn-default" type="reset" (click)="clearEditing()">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
