
* {
  box-sizing: border-box;
}


.input-form{
  border-radius: 5px;
  background-color: lightblue;
  padding: 15px;
}
button{
  margin-right: 10px;
}
.required{
  color: red;
  font-weight: bold;
}
.li-title{
  background-color: whitesmoke;
  margin: 0px;
}

.list-content {
  width: calc(100% - 160px);
  margin-left: 10px;
  overflow: auto;
}

.form-display{
  display: none;
}


